# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Saved Models
models/*.keras
models/*.h5
!models/.gitkeep

# Logs and Caches
*.log
.pytest_cache/
.coverage
htmlcov/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
